.slick-slide {
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}

.slick-center {
  opacity: 1 !important;
  transform: scale(1.1);
  z-index: 10;
}

.slick-slide > div {
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
  transform: scale(0.9);
}

.slick-center > div {
  opacity: 1 !important;
  transform: scale(1);
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}

